*{
    box-sizing: border-box;
}

body {
    background: #222;
    height: 100%;
    margin: 0;
}

#container {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    width: 900;
    height: 100%;
    background: white;
}

aside {
    float: left;
    width: 300px;
    padding: 20px 50px;
    height: 100%;
    background : rgb(215, 200, 215);
}

aside img {
    width: 100px;
    border-radius: 200px;
}

#detail {
    position: relative;
    top: 250px;
}

#main {
    float: right;
    width: 600px;
    height: 100%;
    padding: 50px;
}